use Mix.Config

# Configure your database
config :explorer, Explorer.Repo,
  database: System.get_env("DATABASE_NAME"),
  hostname: System.get_env("DATABASE_HOST"),
  username: System.get_env("DATABASE_USERNAME"),
  password: System.get_env("DATABASE_PASSWORD"),
  pool_size: 20,
  timeout: 80_000
